<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/">AS3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/sucess">Casos de sucesso</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/academy">AS3 Academy</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Detalhes</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/sobre_nos">Sobre Nós</a></li>
      <li><a class="dropdown-item" href="#">Outros Serviços</a></li>
      <li><a class="dropdown-item" href="#">Detalhes Técnicos</a></li>
      <div class="p-1 bg-info bg-opacity-10 border border-info">
      <li><a class="dropdown-item nav-fill" href="/contato">Entre em Contato</a></li>
      </div>
    </ul>
  </li>
</ul>