<div class="row">
    <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <p class="card-text">Energy Academy Online: Qualidade de energia e a saúde dos seus ativos</p>
        <a class="btn btn-primary" href="https://www.linkedin.com/events/energyacademyonline-qualidadede7120836058581262336/theater/">Inscreva-se</a>
        </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
            <p class="card-text">Drive Academy Online: Manutenção e Gestão de Inversores de Frequência</p>
            <a class="btn btn-primary" href="https://www.linkedin.com/events/driveacademyonline-manuten-oege7120865380884955136/theater/">Inscreva-se</a>
            </div>
        </div>
    </div>

<div class="col">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
    <p class="card-text">Management Academy Online: Melhores práticas na Gestão de Manutenção</p>
    <a class="btn btn-primary" href="https://www.linkedin.com/events/managementacademyonline-melhore7120867092773392385/theater/">Inscreva-se</a>
    </div>
    </div>
</div>
</div>
</div>


